*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  width: 100%;                                /* 100% width of parent (root) element */
  height: 100vh;                              /* 100% height of viewport */
  background: rgba(0, 0, 0, 0.1);             /* 10% black */
  font-family: arial, verdana, sans-serif, tahoma, helvetica, courier;
  font-size: 62.5%;                           /* our root font size - 10px */
  /*font-size: 1em;                             * our root font size - 16px */
}

body{
  font-size: 1rem;
  color: rgba(23, 23, 23, 0.65);
}

a{
  text-decoration: none;
}

/* h1 font-size in normalize.css is 2em => 2 x 16px = 32px */
h1{
  font-size: 2em;
  margin: 0.5rem;
}

h2{                                         
  font-size: 1.8rem;
  margin: 0.5rem;
}

h3{                                          
  font-size: 1.6rem;
  margin: 0.5rem;
}

h4{                                         
  font-size: 1.4rem;
  margin: 0.5rem;
}

p{                                                
  margin: 0.5rem;
}

.wrapper{
  width: 98%;
  margin: 0 auto;
  padding: 1rem;
}